{% extends "base.html" %}
{% block title %}新增聯審資料{% endblock %}
{% block content %}


<div class="tg-wrap">
    {% for message in messages %}
          <div class='alert alert-warning'>{{ message }}</div>
    {% endfor %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="tg">            
            <tbody>
                <div style="text-align:center">
                    <select name="target_name">
                        <option value="0">請選擇對應滲透報告</option>
                        {% for i in expost %}
                        <option>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <td class="tg-rgp6" colspan="6">
                    <div id="relate_container" class="relate_container">
                        一、目標關聯：<br/>
                        1.
                        <div id="relate_append_no_0" style="text-align:center" class="relate_append_no">
                            <textarea class="form-control" rows="3" placeholder="如有多張圖片請略過內容直接新增欄位選擇圖片" name="relate_content"></textarea>
                            <input id="relate_imageInput_0" class="form-control image" type="file" accept="image/*" name="relate_imageInput_0" >
                            <textarea id="relate_imageText_0" rows="1" class="textcenter" placeholder="圖片說明" name="relate_imgText"></textarea>                                
                        </div>        
                        <br><div class="card-footer">
                            <a class="btn btn-secondary btn-sm add_more" id="relate_add_more" name="0"><i class="fas fa-plus-circle"></i> 新增</a>
                            <a class="btn btn-secondary btn-sm remove_more" id="relate_remove_more" name="0"><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div><br>    
                    </div>                        
                    <div id="summary_container">         
                        二、目標簡介說明：<br/>
                        1.
                        <div id="summary_append_no_0" style="text-align:center" class="summary_append_no">
                            <textarea class="form-control" rows="3" placeholder="如有多張圖片請略過內容直接新增欄位選擇圖片" name="summary_content"></textarea>
                            <input id="summary_imageInput_0" class="form-control image" type="file" accept="image/*" name="summary_imageInput_0" >
                            <textarea id="summary_imageText_0" rows="1" class="textcenter" placeholder="圖片說明" name="summary_imgText"></textarea>
                        </div>    
                        <br><div class="card-footer">
                            <a class="btn btn-secondary btn-sm add_more" id="summary_add_more" name="0"><i class="fas fa-plus-circle"></i> 新增</a>
                            <a class="btn btn-secondary btn-sm remove_more" id="summary_remove_more" name="0"><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div><br>
                    </div>                            
                    <div id="exploit_container">
                        三、目標滲透：<br/>
                        1.
                        <div id="exploit_append_no_0" style="text-align:center" class="exploit_append_no">
                            <textarea class="form-control" rows="3" placeholder="如有多張圖片請略過內容直接新增欄位選擇圖片" name="exploit_content"></textarea>
                            <input id="exploit_imageInput_0" class="form-control image" type="file" accept="image/*" name="exploit_imageInput_0" >
                            <textarea id="exploit_imageText_0" rows="1" class="textcenter" placeholder="圖片說明" name="exploit_imgText"></textarea>
                        </div>         
                        <br><div class="card-footer">
                            <a class="btn btn-secondary btn-sm add_more" id="exploit_add_more" name="0"><i class="fas fa-plus-circle"></i> 新增</a>
                            <a class="btn btn-secondary btn-sm remove_more" id="exploit_remove_more" name="0"><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div>   
                    </div>                                                         
                </td>
            </tbody>
        </table>
    </br>
    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="送出">
    </form>
</div>

{% endblock %}
