<!-- Sidebar Holder -->
    <nav id="sidebar"  class="sidebar-wrapper">
        <div class="sidebar-header">
            <a href="/">情蒐報告系統</a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#postSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">所有報告</a>
                <ul class="collapse list-unstyled" id="postSubmenu">
                    <li>
                        <a href="/Report_List/EX/ALL">滲透報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/IC/ALL">情蒐報告</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">滲透報告</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/New_Exploit_Report">新增報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/EX/My_Report">我的報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/EX/Passing_Report">審核中報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/EX/Passed_Report">已審核報告</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">情蒐報告</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="/New_InforCollect_Report">新增報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/IC/My_Report">我的報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/IC/Passing_Report">審核中報告</a>
                    </li>
                    <li>
                        <a href="/Report_List/IC/Passed_Report">已審核報告</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            {% if username %}
            <li>
                <p >{{ user.rank }}  {{ user.name }}</p>
            </li>
            {% endif %}
            <li>
                <a href="/userinfo" class="download">使用者資訊</a>
            </li>
            <li>
                <a href="/logout" class="article">登出</a>
            </li>
        </ul>
    </nav>

