{% extends "base.html" %}
{% load index %}
{% block title %}報告{% endblock %}
{% block content %}
<div class="tg-wrap">
    {% for message in messages %}
          <div class='alert alert-warning'>{{ message }}</div>
    {% endfor %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="tg">
            <tbody>
                {% if change %}
                <div style="text-align:center">                    
                    <select name="target_name">
                        {% if new_UnJudge.target_name %}
                        <option value = "0">{{ new_UnJudge.target_name }}</option>
                        {% else %}
                        <option value = "0">請選擇對應滲透報告</option>
                        {% endif %}
                        {% for i in expost %}
                        {% if i != new_UnJudge.target_name %}
                        <option>{{ i }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>{% endif %}
                <td class="tg-rgp6" colspan="6">
                    一、{{ string.0 }}：<br/>
                    <div id="relate_container" class="relate_container">
                        {% for relate_len in relate_count %}{{ relate_len|add:1  }}.<br>
                        <div id="relate_append_no_{{relate_len}}" style="text-align:center" class="relate_append_no">
                            {% if change %}  
                            <textarea class="form-control" rows="3" name="relate_content" >{{ relate_content|index:relate_len }}</textarea>
                            <input id="relate_imageInput_{{relate_len}}" class="form-control image" type="file"accept="image/*" name="relate_imageInput_{{relate_len}}" >     
                            {% if relate_imgs %}
                            <div id="relatePreview_{{relate_len}}">
                                <div style="text-align:center" class="Preview_box">
                                    <a class="DelTag" onclick="DelTag('relatePreview_{{relate_len}}','relate_imageInput_{{relate_len}}','relate_imageText_{{relate_len}}');">删除</a>
                                    <img class="img-fluid" src="{{ relate_imgs|index:relate_len }}">
                                </div>
                                <textarea id="relate_imageText_{{relate_len}}" class="textcenter" row="1" required placeholder="圖片說明" name="relate_imgText">{% if relate_imgText %}{{ relate_imgText|index:relate_len }}{% endif %}</textarea>
                                圖{{ relate_len|add:1  }}</br>
                            </div>
                            {% endif %}
                            {% else %}
                            <textarea readonly class="form-control" rows="3" name="relate_content" >{{ relate_content|index:relate_len }}</textarea>
                            {% if relate_imgs %}
                            <img src="{{ relate_imgs|index:relate_len }}" class="img-fluid" alt="Responsive image"></br>
                            圖{{ relate_len|add:1  }}  {{ relate_imgText|index:relate_len }}</br>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% if change %}
                        <br><div class="card-footer">
                            <a class="btn btn-secondary btn-sm add_more" id="relate_add_more" name="{{ relate_num }}"><i class="fas fa-plus-circle"></i> 新增</a>
                            <a class="btn btn-secondary btn-sm remove_more" id="relate_remove_more" name="0" {% if relate_content|length > 1 %}style="display: inline"{% endif %}><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div><br>    
                        {% endif %}
                    </div>
                    
                    二、{{ string.2 }}：<br/>
                    <div id="summary_container" class="summary_container">
                        {% for summary_len in summary_count %}{{ summary_len|add:1 }}.<br>
                        <div id="summary_append_no_{{summary_len}}" style="text-align:center" class="summary_append_no">
                            {% if change %}
                            <textarea class="form-control" rows="3" name="summary_content" >{{ summary_content|index:summary_len }}</textarea>
                            <input id="summary_imageInput_{{summary_len}}" class="form-control image" type="file" accept="image/*" name="summary_imageInput_{{summary_len}}" >
                            {% if summary_imgs %}
                            <div id="summaryPreview_{{summary_len}}">
                                <div style="text-align:center" class="Preview_box">
                                    <a class="DelTag" onclick="DelTag('summaryPreview_{{summary_len}}','summary_imageInput_{{summary_len}}');">删除</a>
                                    <img src="{{ summary_imgs|index:summary_len }}">
                                </div>                                
                                <textarea id="summary_imageText_{{summary_len}}" class="textcenter" row="1" required placeholder="圖片說明" name="summary_imgText">{% if summary_imgText %}{{ summary_imgText|index:summary_len }}{% endif %}</textarea>
                                圖{{ summary_len|add:relate_length|add:1  }}</br>
                            </div>    
                            {% endif %}
                            {% else %}
                            <textarea readonly class="form-control" rows="3" name="summary_content" >{{ summary_content|index:summary_len }}</textarea>
                            {% if summary_imgs %}
                            <img src="{{ summary_imgs|index:summary_len }}" class="img-fluid" alt=""></br>
                            圖{{ summary_len|add:relate_length|add:1  }}  {{ summary_imgText|index:summary_len }}</br>                        
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endfor %}
                        {% if change %}
                        <br><div class="card-footer">
                            <a class="btn btn-secondary btn-sm add_more" id="summary_add_more" name="{{ summary_num }}"><i class="fas fa-plus-circle"></i> 新增</a>
                            <a class="btn btn-secondary btn-sm remove_more" id="summary_remove_more" name="0" {% if summary_content|length > 1 %}style="display: inline"{% endif %}><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div>  
                        {% endif %}
                    </div>

                    三、{{ string.4 }}：<br/>
                    <div id="exploit_container" class="exploit_container">
                        {% for exploit_len in exploit_count %}{{ exploit_len|add:1 }}.<br>
                        <div id="exploit_append_no_{{exploit_len}}" style="text-align:center" class="exploit_append_no">
                            {% if change %}
                            <textarea class="form-control" rows="3" name="exploit_content" >{{ exploit_content|index:exploit_len }}</textarea>
                            <input id="exploit_imageInput_{{exploit_len}}" class="form-control image" type="file" accept="image/*" name="exploit_imageInput_{{exploit_len}}" >
                            {% if exploit_imgs %}
                            <div id="exploitPreview_{{exploit_len}}">
                                <div style="text-align:center" class="Preview_box">
                                    <a class="DelTag" onclick="DelTag('exploitPreview_{{exploit_len}}','exploit_imageInput_{{exploit_len}}');">删除</a>
                                    <img src="{{ exploit_imgs|index:exploit_len }}">
                                </div>                                
                                <textarea id="exploit_imageText_{{exploit_len}}" class="textcenter" row="1" required placeholder="圖片說明" name="exploit_imgText">{% if exploit_imgText %}{{ exploit_imgText|index:exploit_len }}{% endif %}</textarea>      
                                圖{{ exploit_len|add:summary_length|add:relate_length|add:1  }}</br>              
                            </div>
                            {% endif %}
                            {% else %}
                            <textarea readonly class="form-control" rows="3" name="exploit_content" >{{ exploit_content|index:exploit_len }}</textarea>
                            {% if exploit_imgs %}
                            <img src="{{ exploit_imgs|index:exploit_len }}" class="img-fluid" alt=""></br>
                            圖{{ exploit_len|add:summary_length|add:relate_length|add:1  }}  {{ exploit_imgText|index:exploit_len }}</br>
                            {% endif %}
                            {% endif %}                            
                        </div>
                        {% endfor %}
                        {% if change %}
                        <br><div class="card-footer">
                        <a class="btn btn-secondary btn-sm add_more" id="exploit_add_more" name="{{ exploit_num }}"><i class="fas fa-plus-circle"></i> 新增</a>
                        <a class="btn btn-secondary btn-sm remove_more" id="exploit_remove_more" name="0" {% if exploit_content|length > 1 %}style="display: inline"{% endif %}><i class="fas fa-trash-alt"></i> 刪除</a>
                        </div><br>    
                        {% endif %}
                    </div>
                </td>
            </tbody>
        </table>
    </br>
    {% if change %}
    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="送出" />
    {% endif %}
    </form>
</div>

{% endblock %}